.phraseBlock {
	padding: 5px;
	margin: 5px;
	/* border: 1px solid rgba(255, 255, 255, 1); */
	border-radius: 10px;
}
.phraseBlock .phraseNum {
	text-align: right;
	font-size: 9px;
	color: grey;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

/* .phraseWrapper:nth-child(1) {
	display: none;
} */

.phraseBlock.active .textTr,
.phraseBlock.active .phraseNum {
	color: lightgray;
}

.phraseBlock ion-button {
	height: unset;
	font-size: unset;
	color: unset;
	margin: unset;
	z-index: 0;
}

.phraseBlock .textTr {
	color: grey;
	font-size: 14px;
}
.phraseBlock.active {
	position: relative;
}
.phraseBlock.active:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background: #3880ff;
	filter: blur(10px);
}
