.root {
	margin-top: -4px;
}

.leftBlock,
.rightBlock {
	flex: 1;
}

.leftBlock {
	text-align: left;
	padding-left: 5px;
}

.rightBlock {
	text-align: right;
	padding-right: 5px;
}

.centerBlock {
	flex: 2;
	text-align: center;
}
.smallText {
	font-size: x-small;
	color: grey;
	text-transform: lowercase;
}
.controlsContainer {
	display: flex;
	align-items: center;
	height: 24px;
	margin-top: -7px;
}

.playbackRateButton,
.chevronButton {
	margin: 0;
	color: grey;
	padding: 0px;
	--padding-start: 5px;
	--padding-end: 5px;
}

ion-range {
	--height: 0px;
	--knob-background: #3880ff;
	--knob-size: 10px;
	/* border-color: 'red';
	border-width: 2px;
	border-style: solid; */
}
